Repository JohnGrayUoY/example-openapi-apigateway: changes, and which lint-staged commands are due for each by the changed paths.
All: xo --fix, prettier --write, sort-package-json

.lintstagedrc.json:

{
    "*.ts": ["xo --fix", "prettier --write"],
    "*.{md,yaml,yml}": "prettier --write",
    "!(package).json": "prettier --write",
    "package.json": ["sort-package-json", "prettier --write"]
}

Working implementation
  infrastructure/bin/infrastructure.ts
  infrastructure/lib/__snapshots__/infrastructure-stack.test.ts.snap
  infrastructure/lib/infrastructure-stack.ts
  package-lock.json
  package.json
  src/lambda/index.ts
  src/openAPI/createWorkordersAPIDocument.test.ts
  src/openAPI/createWorkordersAPIDocument.ts
  src/openAPI/createWorkordersAPIDocumentProps.ts
  src/types/workorder.ts
Due: xo --fix, prettier --write, sort-package-json

Remove endpoint added in cdk
  infrastructure/lib/__snapshots__/infrastructure-stack.test.ts.snap
  infrastructure/lib/infrastructure-stack.ts
  src/openAPI/createWorkordersAPIDocument.ts
Due: xo --fix, prettier --write

Documentation for openapi version
  src/openAPI/createWorkordersAPIDocument.ts
Due: xo --fix, prettier --write

Update name and description
  package.json
Due: prettier --write, sort-package-json

Output spec to directory
  OpenAPI/spec/OpenAPISpec.json
  src/openAPI/createWorkordersAPIDocument.test.ts
Due: xo --fix, prettier --write

Remove auth method
  src/openAPI/createWorkordersAPIDocument.ts
Due: xo --fix, prettier --write

Remove un-necessary code and add some stages
  OpenAPI/spec/WorkordersSpec.json
  infrastructure/lib/__snapshots__/infrastructure-stack.test.ts.snap
  infrastructure/lib/infrastructure-stack.ts
  src/openAPI/createWorkordersAPIDocument.ts
Due: xo --fix, prettier --write
